# Server settings
BACKEND_PORT=8080

# key settings
OPENAI_API_KEY=your-openai-api-key
ANTHROPIC_API_KEY=your-anthropic-api-key
GOOGLE_API_KEY=your-gemini-api-key

# vLLM settings
HF_TOKEN=your-huggingface-token